<%- include("partials/header") %>

<div class="w-100 chats-container container-fluid">
    <div class="chats-row row">
        <div class="chats-sidebar col-5 d-flex">
            <ul class="list-group chats-sidebar-listgroup">
                <li class="list-group-item">
                    <%- include("partials/chat-item") %>
                </li>
                <li class="list-group-item">
                    <%- include("partials/chat-item") %>
                </li>
                <li class="list-group-item">
                    <%- include("partials/chat-item") %>
                </li>
            </ul>
        </div>

        <div class="chats-messages col-7 d-flex">
            <ul class="list-group" style="list-style-type:none">
                <li">
                    <%- include("partials/chat-bubble") %>
                </li>
            </ul>
        </div>
    </div>
</div>

<%- include("partials/footer") %>