<%- include("partials/header") %>

<div class="chats-container container">
    <div class="chats-row row">
        <div class="chats-sidebar col-4 d-flex">
            <ul class="list-group chats-sidebar-listgroup">
                <li class="list-group-item">
                    <%- include("partials/chat-item") %>
                </li>
                <li class="list-group-item">
                    <%- include("partials/chat-item") %>
                </li>
                <li class="list-group-item">
                    <%- include("partials/chat-item") %>
                </li>
            </ul>
        </div>

        <div class="chats-messages col-8 d-flex">
            <p>These are the messages</p>
        </div>
    </div>
</div>

<%- include("partials/footer") %>